
body{
    background-color: rgb(255, 225, 168);
}

h1{
    font-family: 'Tilt Prism', cursive;
    font-size: 100px;
    color: rgb(255,255,255);
    background-color: rgb(27, 43, 62);
    border-radius: 25px;
    text-align: center;
}

table {
    text-align: center;
}

th, td { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(35, 78, 30);
    font-size: 12px;
    padding: 3px;
    background-color: rgb(255, 241, 215);
    border: 1px dotted rgb(32, 27, 62);

}

tfoot td{
    font-weight:bold;
}

th, tbody td:first-of-type{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.15em;
    font-weight: bolder;
    color: rgb(44, 28, 65);
}
tfoot td:first-of-type, #thSalesTotal{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 241, 215);
    background-color: rgb(32, 27, 62);
    font-weight: bolder;
    font-size: 1.25em;
}

#tfootSales td:last-of-type {
    color: rgb(255, 241, 215);
    background-color: rgb(32, 27, 62);
}

/* main{
    display: flex;
    justify-content: center;
    text-align: right;
} */

